# Test Environment Configuration
# Copy and rename to .env.test for testing

# Test Server Address
TEST_BASE_URL=http://127.0.0.1:5050

# Test User Credentials
TEST_USERNAME=
TEST_PASSWORD=


# Other Test Related Configurations
# ENABLE_DEBUG=true